.countries__card {
	position: absolute;
	top: 70px;
	left: 0;
	width: 100vw;
	height: 105vh;
	display: none;
	align-items: center;
	justify-content: center;
	background-color: rgba(255, 255, 255, 0.5);
	backdrop-filter: blur(10px);
}
.countries__card-inner {
	width: 600px;
	height: 300px;
	background-color: var(--bg-color);
	border-radius: 10px;
	box-shadow: 10px 10px 10px grey;
}

.card__top {
	background-color: transparent;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	border-bottom: 1px solid var(--text-color);
}
.card__button {
	width: 50px;
	margin-left: 5px;
	padding: 15px;
	fill: var(--text-color);
	background-color: transparent;
	cursor: pointer;
}
.card__star {
	width: 55px;
	fill: transparent;
	stroke: var(--text-color);
	stroke-width: 2px;
}

.card__start--added {
	fill: #ffd900;
	stroke: #ffd900;
}

.card__body {
	padding: 1rem;
	gap: 1rem;
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
	background-color: transparent;
}
.card__image {
	width: 45%;
}
.card__details {
	width: 50%;
	list-style: none;
	background-color: transparent;
}
.card__item:nth-child(1) {
	margin-bottom: 1.3rem;
	font-weight: 900;
	font-size: 2rem;
}
.card__item {
	font-size: 1.3rem;
	font-family: monospace;
	letter-spacing: 2px;
	background-color: transparent;
	color: var(--text-color);
}

@media only screen and (max-width: 600px) {
	.countries__card {
		width: 100%;
		height: 100%;
	}
	.card__body {
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
	}
	.countries__card-inner {
		width: 300px;
		height: 400px;
	}
	.card__details {
		width: 100%;
	}
	.card__image {
		width: 70%;
		align-self: center;
	}
	.card__item:nth-child(1) {
		margin-bottom: 1rem;
		font-size: 1.5rem;
	}
	.card__item {
		font-size: 1.3rem;
	}
}
@media only screen and (min-width: 600px) and (max-width: 768px) {
	.countries__card {
		width: 100%;
		height: 100%;
	}
	.countries__card-inner {
		width: 500px;
		height: 350px;
	}
}
