/* navigation */

.countries__nav {
	margin-left: 1rem;
}
.countries__list {
	list-style: none;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.countries__item {
	margin-right: 10px;
	padding: 0.5rem 1rem;
	cursor: pointer;
	transition: color 400ms ease-in-out;
}

.countries__item--active {
	background-color: var(--text-color);
	color: var(--bg-color);
}

.countries__main {
	min-height: 70vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 2rem;
}

/* SECTION table */

.countries__search-container {
	width: 100%;
	align-items: flex-start;
}

.countries__search {
	min-width: 100px;
	width: 300px;
	margin: var(--nav-margin);
	padding: 5px 10px;
	font-size: 1.2rem;
	letter-spacing: 2px;
	border: 1px solid var(--text-color);
	outline: none;
	border-radius: 3px;
}

/* SECTION map */
#countriesMap {
	margin: 20px;
	border: 1px solid var(--text-color);
}
.world {
	fill: var(--text-color);
}
.country {
	stroke: var(--text-color);
	fill: var(--bg-color);
	stroke-width: 0.1;
}
.country:hover {
	fill: #db453a;
}
