.countries__main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 2rem;
}

.countries__search-container {
	width: 100%;
	align-items: flex-start;
}
.countries__search {
	min-width: 100px;
	width: 300px;
	margin: var(--nav-margin);
	padding: 5px 10px;
	font-size: 1.2rem;
	letter-spacing: 2px;
	border: 1px solid var(--text-color);
	outline: none;
	border-radius: 3px;
}

#countriesMap {
	margin: 20px;
	border: 1px solid;
}
.country {
	stroke: var(--text-color);
	fill: var(--bg-color);
	stroke-width: 0.1;
}
.country:hover {
	fill: red;
}
.circle {
	stroke: red;
	stroke-width: 1px;
}
