/* SECTION table */

.countries__search-container {
	display: block;
}

.countries__search {
	min-width: 100px;
	width: 300px;
	margin: var(--nav-margin);
	padding: 5px 10px;
	font-size: 1.2rem;
	letter-spacing: 2px;
	border: 1px solid var(--text-color);
	outline: none;
	border-radius: 3px;
}

.table__container {
	margin: 20px;
	display: none;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	grid-gap: 20px;
	gap: 20px;
	font-weight: 900;
	font-size: 1.1rem;
}
.country__container {
	position: relative;
	overflow: hidden;
}
.country__image {
	width: 100%;
}
.country__bottomLine {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: space-between;
	background: transparent;
	backdrop-filter: blur(10px) contrast(40%);
	transform: translateY(100%);
}

.country__image:hover + .country__bottomLine {
	animation-name: goUp;
	animation-fill-mode: forwards;
	animation-delay: 0.4s;
	animation-duration: 0.4s;
	animation-timing-function: ease-out;
}

@keyframes goUp {
	from {
		transform: translateY(100%);
	}
	to {
		transform: translateY(0);
	}
}

.country__bottomLine:hover {
	transform: translateY(0);
}

.country__bottomLine * {
	margin: 0 0 0 10px;
}

.country__star {
	background: transparent;
	width: 25px;
	margin: 10px;
	align-self: flex-end;
	cursor: pointer;
	fill: var(--text-color);
}

.country__star--added {
	fill: var(--sec-color);
}

.country__title {
	background: transparent;
	color: var(--text-color);
	padding: 10px;
}
.country__region {
	background: transparent;
	align-self: flex-end;
	padding: 10px;
	background: var(--bg-color);
}
