/* SECTION table */
.countries__search-container {
	position: sticky;
	top: 100px;
	z-index: 1;
	background: transparent;
}
.countries__search {
	min-width: 100px;
	width: 300px;
	margin: var(--nav-margin);
	padding: 5px 10px;
	font-size: 1.2rem;
	letter-spacing: 2px;
	border: 1px solid var(--text-color);
	outline: none;
	border-radius: 3px;
}

.table__container {
	margin: 40px 100px 0;
	display: none;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	gap: 30px;
	grid-gap: 30px;
	font-weight: 700;
	font-size: 1.1rem;
}
.country__container {
	position: relative;
	overflow: hidden;
	opacity: 0;
	transform: scale(0);
	transition: opacity 0.2s ease-in, transform 0.2s ease-out;
}

.country__container.appear {
	opacity: 1;
	transform: scale(1);
}

.country__image {
	width: 100%;
}
.country__bottomLine {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: space-between;
	background: transparent;
	backdrop-filter: blur(10px) contrast(40%);
	transform: translateY(100%);
	-webkit-transform: translateY(100%);
}

.country__image:hover + .country__bottomLine {
	animation-name: goUp;
	animation-fill-mode: forwards;
	animation-delay: 0.1s;
	animation-duration: 0.3s;
	animation-timing-function: linear;
}

@keyframes goUp {
	100% {
		transform: translateY(0);
		-webkit-transform: translateY(0);
	}
}

.country__bottomLine:hover {
	transform: translateY(0);
}

.country__star {
	background: transparent;
	width: 25px;
	margin: 10px;
	cursor: pointer;
	fill: var(--text-color);
}

.country__star--added {
	fill: var(--sec-color);
}

.country__title {
	background: transparent;
	color: var(--text-color);
	padding: 5px;
}
.country__region {
	background: transparent;
	align-self: flex-end;
	padding: 10px;
	background: var(--bg-color);
}

@media screen and (max-width: 600px) {
	.table__container {
		margin: 20px;
		display: none;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 20px;
		gap: 20px;
		font-weight: 900;
		font-size: 1.1rem;
	}
	.country__bottomLine {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-content: stretch;
	}
	.country__star {
		align-self: flex-start;
		padding: 0px;
		margin: 5px;
	}
	.country__title {
		padding: 0px;
		margin: 5px;
	}
	.country__region {
		padding: 5px;
		align-self: flex-end;
		margin: 0;
	}
}
@media screen and (min-width: 600px) and (max-width: 900px) {
	.table__container {
		margin: 20px;
		display: none;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 20px;
		gap: 20px;
		font-weight: 900;
		font-size: 1.1rem;
	}
	.country__bottomLine {
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: space-between;
		align-content: stretch;
	}
	.country__star {
		align-self: flex-start;
		padding: 0px;
		margin: 5px;
	}
	.country__title {
		padding: 0px;
		margin: 5px;
	}
	.country__region {
		padding: 5px;
		align-self: flex-end;
		margin: 0;
	}
}
