@import './style-components/variables.css';
@import './style-components/nav.css';
@import './style-components/form.css';
@import './style-components/countries.css';
@import './style-components/card.css';
@import './style-components/table.css';
@import './style-components/map.css';
@import './style-components/favorites.css';
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	color: var(--text-color);
	background-color: var(--bg-color);
	font-family: var(--main-font);
}
html {
	scroll-behavior: smooth;
}
body {
	color: var(--text-color);
	background-color: var(--bg-color);
}
